<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @app_id %> interfaces</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <style type="text/css">
      .row {
          margin-bottom: 20px;
      }
  </style>
</head>
<body>

<!-- Content -->
<div class="container">

  <!-- Title and prompt -->
  <div class="page-header">
    <% if @run_id == 'default' %>
        <h1>Welcome to <em><%= @app_id %></em></h1>
    <% else %>
        <h1>Welcome to <em><%= @app_id %></em>, run <em><%= @run_id %></em></h1>
    <% end %>
    <p class="lead">Use the buttons below to launch a specific interface</p>
  </div>

  <!-- Run level interfaces -->
  <% @interfaces.each do |i| %>
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1"><a href="runs/<%= i[:url] %>" target="_blank" type="button" class="btn btn-danger">Launch!</a></div>
        <div class="col-xs-2 col-sm-2 col-lg-2 text-center"><strong><%= i[:name] %></strong></div>
        <div class="col-xs-9 col-sm-9 col-lg-9"><%= i[:description] %></div>
      </div>
  <% end %>

  <% unless @interfaces.empty? %>
      <hr>
  <% end %>

  <!-- Framework level interfaces -->
  <div class="row">
    <h2>Framework level interfaces</h2>
  </div>

  <% @framework_interfaces.each do |i| %>
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1"><a href="framework/<%= i[:url] %>" target="_blank" type="button" class="btn btn-danger">Launch!</a></div>
        <div class="col-xs-2 col-sm-2 col-lg-2 text-center"><strong><%= i[:name] %></strong></div>
        <div class="col-xs-9 col-sm-9 col-lg-9"><%= i[:description] %></div>
      </div>
  <% end %>


</div>

<!-- Scripts -->
<script>

</script>
</body>
</html>